.about-page .about-first{
    background-image: url('vegeta.jpg');
    height: 25vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-team h5{
    border-bottom: 2px solid orangered;

}